<div>
    <div class="titleBack" >
    <div class="titleTag" ng-mouseenter="proTag=true" ng-mouseleave="proTag=false">
        <p class="clickHover">招贤纳士</p>
    </div>
    </div>
</div>
<div class="about">
        <div class="employe-content">
            <p>现招募量化投资研究员等，诚邀有志于此的人才加盟，共创事业。</p>
            <p>具体职位介绍请见以下，请把简历发送到我们邮箱，邮件名称：姓名+应聘职位（包括岗位编号）</p>

            <div class="employe-item" ng-class="{down: javaFlag}">
                <h6 ng-click="javaFlag = !javaFlag" class="">量化投资研究员<i>&nbsp&nbsp&nbsp</i></h6>
                <dl class="clearfix">
                    <dt>工作地点：</dt>
                    <dd>上海市浦东新区</dd>
                    <dt>岗位职责：</dt>
                    <dd>1．研究开发量化投资策略,运用专业知识进行数据分析和统计建模 </dd>
                    <dd>2. 搭建量化投资与研究平台，为股票，期货的投资进行研究支持</dd>
                    <dt class="long">岗位要求：</dt>
                    <dd>
                    硕士或以上学历，理工科背景，有扎实的经济或金融知识基础 ，熟悉某种数据分析语言和数据库语言，比如R、Matlab、Python、JAVA/C++、Oracle等；能独立解决问题，具有团队合作意识和人际沟通能力，勤奋严谨 ；有资本市场投资、研究相关经验者优先 <br>
                    学历：硕士及以上
                    </dd>
                </dl>
            </div><!-- end employe-item -->
        </div><!-- end container -->
    </div>
</body>