<div class="slider-box">
    <div class="slider ads" ch-slick options="sliderOptions">
        <div class="slider-container ad01" >
            <img src="img/home/ad01-Back.png" />
        </div>
        <div class="slider-container ad02">
            <img src="img/home/ad02-Back.png" />
        </div>
    </div>
</div>
<p class="stockShow">立足中国， 投资全球</p>
<div class="slider-box stock">
    <div class="slider sina" ch-slick options="stockOptions">
        <div class="slider-container">
            <img ng-src="{{url1}}"/>
        </div>
        <div class="slider-container">
            <img ng-src='{{url2}}'/>
        </div>
        <div class="slider-container">
            <img ng-src='{{url3}}'/>
        </div>
        <div class="slider-container">
            <img ng-src='{{url4}}'/>
        </div>
        <div class="slider-container">
            <img ng-src='{{url5}}'/>
        </div>
        <!--<div class="slider-container">
            <img ng-src="{{url6}}">-->
        </div>
        </div>
    </div>
</div>
<!--<div class="homeMail">
    <img src="img/home/mail.png">
    <div class="mail">
        <p>邮箱地址</p>
        <p>tongshenth@tongshen.com</p>
    </div>
    <div class="input">
        <input type="text" class="homeText">
        <input type="button" value="搜索产品" class="homeButton">
    </div>
</div>-->